.container { max-width:1920px; margin:0 auto; width: 100%; padding: 42px 250px; }
.grid { display:grid; grid-template-columns:repeat(3,1fr); gap:32px; }
@media (max-width:900px){ .grid{ grid-template-columns:repeat(2,1fr);} }
@media (max-width:560px){ .grid{ grid-template-columns:1fr; } } 


.gridCart {
    border: 1px solid rgb(153, 152, 152);
    border-radius: 25px;
    padding: 30px;
    
}

.icon-btn {
    border: none;
}