.wrap {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 32px;
  overflow: hidden;
  border-radius: 2px;
  padding: 42px 250px;
}




.banner {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  animation: slideLoop 7s ease-in-out infinite;
  
}


@keyframes slideLoop {
  0%   { transform: translateX(0); opacity: 1; }
  40%  { transform: translateX(0); opacity: 1; }
  50%  { transform: translateX(-110%); opacity: 0; }
  90%  { transform: translateX(110%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}